@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define a estrutura, alinhamento, cores, fontes e tamanhos do body */
body{

    align-items: center;
    justify-content: space-around;  
    text-align: center;
    color: #B21A18;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f2eeeb;
}

 /*Define a altura da imagem*/
img{

    height: 120px;
   
}

/* Organiza a div dadosCadastroDois */
.dadosCadastroDois{
  
   border: 4px solid #ffff;
   border-radius: 10px;
   padding-left: 40px; /*Define o espaçamento inteiro à esquerda*/
   padding-right: 40px; /*Define o espaçamento inteiro à direita*/
   padding-top: 40px; /*Define o espaçamento inteiro superior*/
   padding-bottom: 40px; /*Define o espaçamento inteiro inferior*/
   align-items: justify;
   text-align: justify;
   font-size: 18px;
   background-color: #ffff; 
   box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.2); /*Define a sombra da caixa*/
   
}

/* Define cores, fonte, alinhamento, display, margem, tamanhos do button enviar*/
.enviar{
    
    color: #B21A18;
    font-family: "Poppins", sans-serif;
    align-content: center;
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: #F5F5F5;
    border: 1px, solid #ABA9A9;
    font-size: 20px;
    width: 150px;
    cursor: pointer; /* Define o cursor para ponteiro */
    
}

/* Define display, margem, largura do container, alinha os itens e distribui os itens da class cadastropag*/
.cadastropag {

    display: flex;
	justify-content: space-around;
	margin: auto;
	width: 80%;
	align-items: center;
    
}

 /* Define cor, borda, altura, largura e tamanho da fonte do input */
input {

    background-color: #F5F5F5;
    border: 1px solid #ABA9A9;
    width: 300px;
	height: 30px;
	font-size: 20px;
    margin-bottom: 10px;

}

/* Define cores, fonte, borda, alinhamento do container e itens, alinha o conteúdo e define cursor para ponteiro do button */
.ja_tem_login{

    color: #B21A18;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    border: #ffffff;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    cursor: pointer; 
    
}

/* Define tamanho da fonte e a margem inferior do título */
.titulo {

    font-size: 50px;
    font-weight: 600;
    margin-bottom: 1px;
    
}