@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{

    background-color:  #B21A18;
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
}

.BarraPesquisa{
    
    border: solid #F1EEEE;
    border-radius: 100px;
    box-shadow: 30px #7D7373;
    padding: 20px;
    width: 6000px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F1EEEE;
    margin-left: 20px;
    margin-right: 20px;
}

.branco{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 50px;
    
}

.logo{
    
    height: 60px;
    
}

.lupaImg{
    
    width: 4%;
}

h1{
    
    font-family: "Poppins", sans-serif;
    color: #adadad;
    font-size: 20px;
}

.iconeImg {
    margin-left: 200px;
    margin-right: 20px;
    width: 15%;
}

.carrinhoImg {
    
    width: 15%;
    cursor: pointer;
    display: inline-block;
    
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000094;
}

.modal-content {
    background-color: #ffd930;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 100%;
    margin-left: 68%;
    overflow-x: hidden;
}

.tituloModal{

    text-align: center;
    justify-content: center;
    align-items: center;
    color: #B21A18;
    font-size: 48px;
    margin-top: 10px;
    margin-left: 30px;
}

.carrinhoVazio{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B21A18;
    font-size: 24px;
    font-weight: 400;
    margin-top: 200px;
    

}

.verCardapio{

    background-color: #B21A18;
    border: solid 1px #B21A18;
    border-radius: 100px;
    height: 106px;
    width: 304px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 140px;
    cursor: pointer;

}

.x {
   cursor: pointer;
   width: 50px;
   height: 50px;
}

.carrinhoImg2 {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: inline-block;

}

.carrinhoCarrinho {
    align-items: center;
    display: flex;
    margin-left: 45px;
}