@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes moverImagem {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); 
    }
    100% {
      transform: translateX(0);
    }  /* Keyframe utilizado para a imagem da promoção se transicionar de um lado pro outro */
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33% {
      opacity: 1;
    }
    53% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  } /* Keyframe usado para o slide de avaliações que vai ficar passando*/

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/*define cor e fonte padrão da página*/
body{

    background-color:  #B21A18;
    font-family: "Poppins", sans-serif;
   
}

/*altura, margem à esquerda, margem superior, 
animação para mover a imagem e sombra da imagem da promoção*/
.promocao{

    height: 500px;
    position: fixed;
    right: 0;
    margin-top: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: moverImagem 1s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem darkorange);
    
}

#conjunto {
    display: flex;
}

/*altura, cursor ao passar o mouse, bloco inline e margem à 
direita da linha*/
.linha{

    height: 61px;
    display: inline-block;
    margin-right: 5px;
}

/*estilo do campo de busca*/
#inptBusca{
  
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 20px;
    border: solid #F1EEEE;
    border-radius: 100px;
    padding: 20px;
    width: 900px;
    height: 20px;
    margin-top: -3%;
    background-color: #F1EEEE;
}

/*define o alinhamento, espaço, 
centralização, cor e espaçamento interno da div branco*/
.branco{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
    padding: 10px 0;
    background-size: cover;
    height: 140px;
    width: 100%;  
    overflow-x: hidden;

}
    
.BarraPesquisa{
    width: fit-content;
    height: auto;
    margin: auto ;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*estilo do logotipo*/
.logo{
    
    margin-left: 30px;
    width: 15%;
    cursor: pointer;
    display: inline-block;
    
}

/* estilo para a imagem da lupa*/
.lupaImg{

    width: 40px;
    height: 40px;
    margin-left: -6%;
    margin-bottom: -2%;

}

/* estilo para o titulo principal*/
h1{
    
    font-family: "Poppins", sans-serif;
    color: #adadad;
    font-size: 26px;
}

/* estilo para o ícone*/
.iconeImg {

    margin-left: 10px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
}

.icones-gerais{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.icones{
    width: fit-content;
    display: flex;
    justify-content: space-around;
}

/* estilo para o ícone de carrinho*/
.carrinhoImg {
    
    width: 72%;
    cursor: pointer;
    display: inline-block;
    margin-right: 70px;
    margin-bottom: -150;
    
}

input {
    background-color: white;
}



/* estilo para o modal (a janela)*/
.modal {
    display: none;  /* inicialmente escondido*/
    position: fixed; 
    z-index: 1; /* camada acima dos outros elementos*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000094;
}

/* estilo para o conteúdo do modal */
.modal-content {
    background-color: #ffd930;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 100%;
    margin-left: 68%;
    overflow-x: hidden;  /* esconde overflow horizontal */

}

/* estilo para o título do modal */
.tituloModal{

    text-align: center;
    justify-content: center;
    align-items: center;
    color: #B21A18;
    font-size: 48px;
    margin-top: 10px;
    margin-left: 30px;
}

/* estilo para a mensagem de carrinho vazio*/
.carrinhoVazio{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #B21A18;
    font-size: 24px;
    font-weight: 400;
    margin-top: 200px;
    

}

/* estilo para o botão de ver cardápio */
.verCardapio{

    background-color: #B21A18;
    border: solid 1px #B21A18;
    border-radius: 100px;
    height: 106px;
    width: 304px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 140px;
    cursor: pointer;

}

/* estilo para o ícone de fechar */
.x {
   cursor: pointer;
   width: 50px;
   height: 50px;
}

.botaoX{
    cursor: pointer;
    margin-right: 520px;
    width: 50px;
    height: 50px;
 }

/* estilo para o ícone de carrinho 2 */
.carrinhoImg2 {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: inline-block;

}

/* estilo para a div do carrinho */
.carrinhoCarrinho {
    align-items: center;
    display: flex;
    margin-left: 45px;
}

#produtos {
    margin-top: 20px;
    width: 80%
}

#produtos h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

#listaProdutos {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin-left: 200px;
}

.produto-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    margin-right: 20px;
}

.produto-item:hover {
    transform: scale(1.05);
}

.produto-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto-item p {
    margin: 5px 0;
    color: #555;
}

.produto-item span {
    font-weight: bold;
    color: #333;
}

#btnAbrirModal {

    border-radius: 50px;
    background-color: #ffd930;
    width: 250px;
    height: 50px;
    color: #B21A18;
    font-size: 20px;
    border: 1px solid #ffd930;  
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 120px;    
}

.modal-content-avaliacao{

    border-radius: 40px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    overflow-x: hidden;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-right: 660px;
    margin-top: 80px;
    margin-bottom: 30px;
   
}

.modalAvaliacao { 
    
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #00000094;
    margin: auto;
}

.tituloAvaliacao{

    text-align: center;

}

.centralizarBtn {
    width: 100%;
    /* position: absolute; */
    margin: auto;
    bottom: 0;
    padding-bottom: 50px;
    left: 0px;
}

#btnAvaliar {
    border-radius: 50px;
    color: white;
    background-color: #B21A18;
    font-size: 20px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
 }

 .inptNome{

    border-style: solid;
    border-radius: 5px;
    border-style: solid;
    height: 20px;
    margin-bottom: 10px;
}

.inptEstrela{

    border-style: solid;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.inptDepo{

    border-style: solid;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 10px;
}

.inptImgProd{
    
    border-style: solid;
    border-radius: 5px;
}

.inptsModal{

    margin-bottom: 20px;

}


#avaliacoes {
    margin-top: 20px;
    display: flex;
    z-index: 10;
}

#avaliacoes {
    margin-top: 10px;
}

#avaliacoes h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

#listaAvaliacoes {
    display: flex;
    gap: 15px;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-left: 180px;
}

.avaliacoes-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    margin-left: 25px;
}

.avaliacoes-item:hover {
    transform: scale(1.05);
}

.avaliacoes-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.avaliacoes-item p {
    margin: 5px 0;
    color: #555;
}

.avaliacoes-item span {
    font-weight: bold;
    color: #333;
}

.adicionar-btn {
    background-color: #ffd930;
    border-radius: 50px;
    border: 0;
    color: #B21A18;
    font-size: 15px;
    width: 150px;
    cursor: pointer;

}

.avaliacaoTitulo {

    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffd930;
    font-size: 25px;
    margin-right: 200px;
    margin-top: 15px;

}

.produto-carrinho {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    height: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    margin-right: 20px;
    list-style-type: none;
}

.produto-carrinho:hover {
    transform: scale(1.05);
}

.produto-carrinho-img {
    width: 100%;
    height: 10px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto-carrinho p {
    margin: 5px 0;
    color: #555;
}

.produto-carrinho span {
    font-weight: bold;
    color: #333;
}

.delete-btn-carrinho {
    border-radius: 50px;
    background-color: #ffd930;
    width: 200px;
    height: 40px;
    color: #B21A18;
    font-size: 20px;
    border: 1px solid #ffd930;  
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 120px; 
}

.delete-btn{

    border-radius: 50px;
    background-color: #ffd930;
    width: 100px;
    height: 25px;
    color: #B21A18;
    font-size: 15px;
    border: 1px solid #ffd930;
    cursor: pointer;
   
}